.intro {
  width: 100%;
  height: 380px;
  margin-top: 96px;
  padding-top: 80px;
  text-align: center;
  background-size: cover;
  background: url("../img/bg.jpg") no-repeat center;
  &__titulo {
    font-weight: bold;
    color: $color-white;
    font-size: $font-xlarge;
    text-transform: uppercase;
  }
  &__quote {
    max-width: 320px;
    margin: 0 auto 40px;
    color: $color-white;
    p {
      font-family: $family-georgia;
      font-size: $font-normal;
      font-style: italic;
      &::before {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 14px auto 10px auto;
      }
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 14px auto 10px auto;
      }
    }
    &--cite {
      font-style: normal;
      font-weight: bold;
      font-size: $font-normal;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
  .btn {
    padding: 10px 20px;
    font-family: $family-arial;
    font-size: $font-normal;
    color: $amarelo-principal;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    border: 3px solid $amarelo-principal;
    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}
