// ESTILOS GERAIS
.titulo {
  font-family: $family-arial;
  line-height: 30px;
  letter-spacing: .1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px auto;
  }
}
// ESTILO DE CALL PADRÃO
.call {
  clear: both;
  padding-top: 40px;
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  &__btn {
    padding: 10px 20px;
    font-family: $family-arial;
    font-size: $font-normal;
    color: $amarelo-principal;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    border: 3px solid $amarelo-principal;
    transition: all .5s ease;
    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}

.header {
  top: 0;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  background: $amarelo-principal;
  z-index: 10;
  &__menu {
    text-align: right;
    &--lista {
      li {
        margin-left: 25px;
        margin-top: 20px;
        display: inline-block;
        a {
          color: $color-black;
          padding: 10px 0;
          font-weight: bold;
          line-height: 20px;
          letter-spacing: .1em;
          font-size: $font-small;
          font-family: $family-arial;
          text-transform: uppercase;
          transition: all .3s ease;
          &:hover {
            color: $color-white;
          }
        }
      }
      .menu__ativo {
        color: $color-white;
      }
    }
  }
}

.intro {
  width: 100%;
  height: 380px;
  margin-top: 92px;
  padding-top: 80px;
  text-align: center;
  background-size: cover !important;
  background: url("../img/background/bg.jpg") no-repeat center;
  .titulo {
    font-weight: bold;
    color: $color-white;
    font-size: $font-xxxlarge;
    text-transform: uppercase;
  }
  &__quote {
    max-width: 320px;
    margin: 0 auto 40px;
    color: $color-white;
    p {
      font-family: $family-georgia, "Times New Roman", serif;
      font-size: $font-small;
      font-style: italic;
      &::before {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 14px auto 10px auto;
      }
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 14px auto 10px auto;
      }
    }
    &--cite {
      font-style: normal;
      font-weight: bold;
      font-size: $font-normal;
      letter-spacing: .1em;
      font-family: $family-arial;
    }
  }
  &__btn {
    padding: 10px 20px;
    font-family: $family-arial;
    font-size: $font-normal;
    color: $amarelo-principal;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    border: 3px solid $amarelo-principal;
    transition: all .5s ease;
    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}

.produtos {
  padding: 60px 0;
  .titulo {
    font-size: $font-xlarge;
    color: $color-black;
    &::after {
      background: $color-black;
    }
  }
  &__lista {
    &--item {
      text-align: center;
      background: $amarelo-principal;
      &__img {
        padding: 20px;
        background: $color-black;
        img {
          margin: 0 auto;
        }
      }
      &__titulo {
        font-size: $font-large;
        font-family: $family-arial;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-top: 20px;
        &::after {
          background: $color-black;
        }
      }
      p {
        padding: 10px 20px 20px 20px;
      }
    }
  }
  .call {
    color: $color-black;
    &__btn {
      &:hover {
        color: $color-black;
        border-color: $color-black;
      }
    }
  }
}

.portfolio {
  width: 100%;
  padding: 40px 0;
  background: $color-black;
  .titulo {
    font-size: $font-xlarge;
    color: $amarelo-principal;
    &::after {
      background: $amarelo-principal;
    }
  }
  &__lista {
    li {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  .call {
    color: $color-white;
    &__btn {
      &:hover {
        color: $color-white;
        border-color: $color-white;
      }
    }
  }
}

.about {
  padding-top: 60px;
  .titulo {
    font-size: $font-xlarge;
    margin-bottom: 20px;
    &::after {
      background: $color-black;
    }
  }
  p {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: $font-medium;
    letter-spacing: .1em;
  }
}

.qualidade {
  padding: 60px 0;
  &::after {
    content: '';
    display: block;
    width: 634px;
    height: 83px;
    background: url('../img/linhas.svg') no-repeat center;
    position: absolute;
    top: 205px;
    right: 162px;
    z-index: -1;
  }
  .titulo {
    color: $color-black;
    font-size: $font-xlarge;
    &::after {
      background: $color-black;
    }
  }
  img {
    margin: 0 auto;
  }
  &__lista {
    padding-top: 20px;
    &--item {
      text-align: center;
      padding: 0 40px;
      &__titulo {
        font-size: $font-large;
        font-family: $family-arial;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-top: 20px;
        &::after {
          background: $color-black;
        }
      }
    }
  }
  .call {
    &__btn {
      &:hover {
        color: $color-black;
        border-color: $color-black;
      }
    }
  }
}

.quebra {
  width: 100%;
  height: 220px;
  text-align: center;
  padding-top: 40px;
  background: url('../../img/background/bg-footer.jpg') no-repeat center;
  background-size: cover;
  &__quote {
    margin: 30px auto;
    max-width: 320px;
    &--cite {
      text-align: center;
      color: $color-white;
      font-style: italic;
      font-size: $font-small;
      font-family: $family-georgia;
      &::before {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background: $color-white;
        margin: 0 auto 10px;
      }
      &::after {
        content: '';
        width: 60px;
        height: 3px;
        display: block;
        background: $color-white;
        margin: 10px auto 12px;
      }
    }
    &--titulo {
      color: $color-white;
      font-family: $family-arial;
      font-size: $font-normal;
      letter-spacing: .1rem;
      font-weight: bold;
      font-style: normal;
      margin-top: 10px;
    }
  }
}

.footer {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background: $amarelo-principal;
  p {
    font-weight: bold;
  }
}

// RESPONSIVO MOBILE
@include device(sm) {
  .header {
    &__menu {
      &--lista {
        text-align: center;
        li {
          margin-left: 0;
        }
      }
    }
    &__mobile {
      &--btn {
        display: block;
        color: $color-black;
        width: 36px;
        height: 36px;
        border-top: 4px solid;
        margin: 20px 240px 0 0;
        float: right;
        position: relative;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        &::before,
        &::after {
          content: '';
          display: block;
          height: 4px;
          margin-top: 6px;
          background: currentColor;
          position: relative;
          transition: transform .2s ease;
        }
        &.active {
          border-top-color: transparent;
          &::before {
            margin-top: 0px;
            top: 6px;
            transform: rotate(135deg);
          }
          &::after {
            margin-top: 0px;
            top: 2px;
            transform: rotate(45deg);
          }
        }
      }
      &--menu {
        position: fixed;
        background: $amarelo-principal;
        padding: 15px;
        top: 60px;
        right: -10px;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(60px, 0px, 0px);
        transition: .3s;
        &.active {
          opacity: 1;
          width: 130px;
          visibility: visible;
          transform: translate3d(0px, 0px, 0px);
        }
        li {
          display: block;
        }
        a {
          border-top: 2px solid;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}