.portfolio {
  width: 100%;
  padding: 40px 0;
  background: $color-black;
  &__titulo {
    font-size: $font-xlarge;
    font-family: $family-arial;
    color: $amarelo-principal;
    line-height: 30px;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background: $amarelo-principal;
      margin: 5px auto;
    }
  }
  &__lista {
    li {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  &__call {
    clear: both;
    padding-top: 40px;
    text-align: center;
    color: $color-white;
    p {
      margin-bottom: 20px;
    }
    .btn {
      padding: 10px 20px;
      font-family: $family-arial;
      font-size: $font-normal;
      color: $amarelo-principal;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: .1em;
      border: 3px solid $amarelo-principal;
      &:hover {
        color: $color-white;
        border-color: $color-white;
      }
    }
  }
}