#produto {
  background: url('../img/background/bg-produtos.jpg') no-repeat center;
}

.product {
  padding-top: 60px;
  &__item {
    &--titulo {
      color: $color-white;
      font-size: $font-xxlarge;
      font-family: $family-arial;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: bold;
      position: relative;
      top: -180px;
      text-align: center;
      margin-bottom: -56px;
      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 6px auto 8px auto;
      }
      &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: $color-white;
        margin: 6px auto 8px auto;
      }
    }
  }
  &__icone {
    background: #000;
    padding: 70px 0;
    max-height: 280px;
    cursor: pointer;
    img {
      margin: 0 auto;
    }
    &--info {
      display: none;
      position: absolute;
      top: 350px;
      left: 0;
      &.ativo {
        display: block;
        animation: slideDown .5s forwards;
      }
      @keyframes slideDown {
        from {
          opacity: 0;
          max-height: 0;
        }
        to {
          max-height: 200px;
          opacity: 1;
        }
      }
      &__descricao {
        background: $color-black;
        p {
          color: $color-white;
          font-size: $font-large;
          line-height: 25px;
          height: 180px;
          padding: 30px 40px;
          font-family: $family-georgia;
          text-align: center;
        }
        &--lista {
          &__item {
            background: $amarelo-principal;
            text-transform: uppercase;
            font-size: $font-large;
            font-family: $family-arial;
            line-height: 20px;
            font-weight: bold;
            float: left;
            width: 229px;
            height: 49px;
            text-align: center;
            padding-top: 16px;
            &:nth-child(1),
            &:nth-child(2) {
              margin-bottom: 2px;
            }
            &:nth-child(even) {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}

#footer {
  margin-top: 20px;
}