// CORES
$color-black: #000;
$color-white: #FFF;
$color-grey: #222;
$amarelo-principal: #fec63e;

// FONT-SIZE
$font-little: 0.714rem; // 10px
$font-small: 0.857rem; // 12px
$font-normal: 1rem; // 14px
$font-medium: 1.14rem; // 16px
$font-large: 1.28rem; // 18px
$font-xlarge: 1.71rem; // 24px
$font-xxlarge: 2.57rem; // 36 px
$font-xxxlarge: 3.42rem; // 48px

// FONT-FAMILY
$family-arial: 'Arial', sans-serif;
$family-georgia: 'Georgia';
$family-helvetica: 'Helvetica';

// RESPONSIVO